# Ignora arquivos de mídia e outros tipos que não precisam ir para o GitHub
*.mp3
*.mp4
*.png
*.webm
*.epub
*.jpg
*.pdf

# Ignora arquivos de código
*.js
*.json
*.css
*.vault-stats

# Ignora pastas e arquivos específicos
noteblocDAta/
.obsidian/
.tmp.driveupload/
.git/
01-Gateway-xp/

