# Arquivos de mídias grandes que você pediu para ignorar
*.mp4
*.mp3
*.webm
*.pdf

# Arquivos de configurações do VS Code
.vscode/

# Arquivos de sincronização ou temporários do Obsidian
.obsidian/
.tmp.driveupload/
.vault-stats
.vault-stats.json

# Arquivos do Microsoft Office e planilhas
*.docx
*.xlsx
*.gdoc
*.gsheet
*.pptx

*.epub

# Arquivos de log e temporários de texto

*.lock
*.log

# Arquivos gerados por Python
__pycache__/
*.pyc

# Outros arquivos de backup ou temporários
*.bak
*~